@import 'variables/_colors';
@import 'variables/animations';

.signup-wrapper {
  background: $wild-sand;
  border-top: 8px solid $cerulean;
  margin: 52px auto;
  max-width: 300px;
  padding: 20px 24px 24px;
  position: relative;
  width: 100%;
}

.img {
  display: block;
  margin: 0 auto 16px;
}

.form {
  gap: 16px;
}

.divider {
  border-top: 2px solid $silver-chalice;
}

.overlay-container {
  background-color: rgba($wild-sand, 0.8);
  position: absolute;
  z-index: 1;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.spinner {
  position: relative;
  top: 50%;
}

.error-message {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97);
  color: $error-red;
  text-align: center;
}
